html.dark-medium-contrast {
  --md-sys-color-primary: rgb(169 205 255);
  --md-sys-color-surface-tint: rgb(162 201 254);
  --md-sys-color-on-primary: rgb(0 23 47);
  --md-sys-color-primary-container: rgb(109 147 197);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(192 203 224);
  --md-sys-color-on-secondary: rgb(11 23 37);
  --md-sys-color-secondary-container: rgb(134 145 164);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(220 193 232);
  --md-sys-color-on-tertiary: rgb(32 15 43);
  --md-sys-color-tertiary-container: rgb(160 136 172);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 20 24);
  --md-sys-color-on-background: rgb(225 226 232);
  --md-sys-color-surface: rgb(17 20 24);
  --md-sys-color-on-surface: rgb(250 250 255);
  --md-sys-color-surface-variant: rgb(67 71 78);
  --md-sys-color-on-surface-variant: rgb(199 203 211);
  --md-sys-color-outline: rgb(159 163 171);
  --md-sys-color-outline-variant: rgb(127 131 139);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 232);
  --md-sys-color-inverse-on-surface: rgb(39 42 47);
  --md-sys-color-inverse-primary: rgb(30 74 119);
  --md-sys-color-primary-fixed: rgb(211 228 255);
  --md-sys-color-on-primary-fixed: rgb(0 18 38);
  --md-sys-color-primary-fixed-dim: rgb(162 201 254);
  --md-sys-color-on-primary-fixed-variant: rgb(2 55 100);
  --md-sys-color-secondary-fixed: rgb(215 227 248);
  --md-sys-color-on-secondary-fixed: rgb(6 18 32);
  --md-sys-color-secondary-fixed-dim: rgb(187 199 219);
  --md-sys-color-on-secondary-fixed-variant: rgb(43 55 71);
  --md-sys-color-tertiary-fixed: rgb(244 217 255);
  --md-sys-color-on-tertiary-fixed: rgb(27 9 38);
  --md-sys-color-tertiary-fixed-dim: rgb(216 189 228);
  --md-sys-color-on-tertiary-fixed-variant: rgb(66 47 77);
  --md-sys-color-surface-dim: rgb(17 20 24);
  --md-sys-color-surface-bright: rgb(55 57 62);
  --md-sys-color-surface-container-lowest: rgb(11 14 19);
  --md-sys-color-surface-container-low: rgb(25 28 32);
  --md-sys-color-surface-container: rgb(29 32 36);
  --md-sys-color-surface-container-high: rgb(39 42 47);
  --md-sys-color-surface-container-highest: rgb(50 53 58);
}
